<h2>Recently added</h2>
<div>
    <a href="/books/<%= book.id %> ">
        <% books.forEach(book=> { %>
            <img width="100" height="150" src="<%= book.coverImagePath %>" alt="Image of the book">
    </a>
    <% }) %>
</div>